@import url(/styles/header.css);
@import url(/styles/body.css);
@import url(/styles/footer.css);

* {
    margin: 0;
}

figure {
    margin: 0;
}

html {
    /*Para una mejor experiencia a la hora de hacer scroll*/
    scroll-behavior: smooth;
}
