.contents {
    margin-top: 15%;
    margin-left: 10%;
}

.contents .tittle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #333333;
}

/*--------------------Services--------------------------*/

.contents .services .tittle {
    width: 30%;
    /*400px*/
}

.contents .services .services-cardBoard {
    display: flex;
    gap: 20px;
}

.contents .services .services-cardBoard .service-container {
    width: 341px;
    height: 422px;
    border-radius: 24px;
    margin-top: 42px;
    
}

.contents .services .services-cardBoard .service-container:hover {
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    cursor: pointer;
}

.contents .services .services-cardBoard .service-container .service-icon {
    width: 67px;
    height: 67px;
    border-radius: 16px;
    text-align: center;
    margin-left: 34px;
    margin-top: 46px;
}

.contents .services .services-cardBoard .service-container .icon-ui-ux {
    background-color: #2D9CDB;

}

.contents .services .services-cardBoard .service-container .icon-frontend {
    background-color: #27AE60; 
}

.contents .services .services-cardBoard .service-container .icon-backend {
    background-color: #EB5757;
}

.contents .services .services-cardBoard .service-container .service-icon .material-icons {
    position: relative;
    top: 20px;
    color: #FFFF;
    font-size: 1.75rem;
}

.contents .services .services-cardBoard .service-container .service-icon .element-arrow-left {
    left: 8px;
}

.contents .services .services-cardBoard .service-container .service-icon .element-arrow-right {
    right: 8px;
}

.contents .services .service-container .service-info {
    margin-left: 34px;
}

.contents .services .service-container .service-info h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
    margin-top: 30px;
}

.contents .services .service-container .service-info p,
.contents .services .service-container button  {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

.contents .services .service-container .service-info p {
    font-weight: 400;
    color: #4F4F4F;
    margin-top: 24px;
    width: 90%;
}

.contents .services .service-container button {
    width: 116px;
    height: 42px;
    background-color: #E0E0E0;
    border-radius: 12px;
    border: none;
    font-weight: 500;
    color: #828282;
    margin-left: 34px;
    margin-top: 30px;
}

.contents .services .service-container button:hover {
    background-color: #2D9CDB;
    color: #FFFFFF;
    cursor: pointer;
}

/*-----------------------Our Works-----------------------*/

.contents .our-works {
    margin-top: 10%;
}

.contents .our-works .tittle{
    width: 35%;
}

.contents .our-works .our-works-container {
    display: grid;
    width: 50vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-top: 34px;
}

.contents .our-works .our-works-container .designs:nth-child(2n-1) {
    margin-top: 170px;
}

.contents .our-works .our-works-container .designs img{
    width: 545px;
    height: 545px;
    border-radius: 12px;
}

.contents .our-works .our-works-container .designs h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
    margin-top: 10px;
}

.contents .our-works .our-works-container .designs p, 
.contents .our-works a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
    margin-top: 10px;
}


.contents .our-works .see-more{
    text-align: right;
    position: relative;
    right: 110px;
    bottom: 33px;
}

.contents .our-works .see-more a {
    color: #2D9CDB;
    text-decoration: none;
    
}

.contents .our-works .see-more .see-more-icon {
    font-size: 1rem;
}

/*-----------------------clients-----------------------*/

.contents .clients {
    margin-top: 20%;
    display: flex;
}

.contents .clients .clients-description {
    width: 25%;
    margin-top: 120px;
}

.contents .clients .clients-description h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #EB5757;
    margin-bottom: 10px;

}

.contents .clients .clients-description p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
    margin-top: 10px;
}

.contents .clients .clients-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "side right"
    "side bottom";
    gap: 24px;
    margin-left: 13%;
}

.contents .clients .clients-photos .top1 {
    grid-area: right;
}

.contents .clients .clients-photos .top2 {
    grid-area: side;
}

.contents .clients .clients-photos .bottom {
    grid-area: bottom;
}

.contents .clients .clients-photos .photos-container img{
    border-radius: 24px;
}

.contents .clients .clients-photos .photos-container:nth-child(2n-2) {
    margin-top: 120px;
}

.contents .clients .clients-photos .bottom {
   margin-top: -20px;
}

/*-------------------leader-phrase---------------------*/