.created-by{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.063rem;
    color: #A9A9A9;
    margin-top: 5rem;
}

.created-by a {
    text-decoration: none;
    color: #A9A9A9;
}

.created-by a:hover {
    color: aquamarine;
}